<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Details</title>
</head>
<body>
    <nav>
        <a href="{% url 'TaskList' %}">Main Page</a>
    </nav>
        <h1>Task Details</h1>

    <p>Title: {{ task_info.title }}</p>
    <p>Description: {{ task_info.description }}</p>
    <p>Status: {{ task_info.status }}</p>
    <p>Priority: {{ task_info.priority }}</p>
    <p>Deadline: {{ task_info.deadline }}</p>
    <p>Creator: {{ task_info.creator }}</p>
    <p><a href="{% url 'TaskEdit' task_info.id %}">Edit</a> and <a href="{% url 'TaskDelete' task_info.id %}">Delete</a></p>
    <h4>Write comments</h4>
    <form method="post" action="{% url 'TaskDetail' task_info.pk %}">
        {% csrf_token %}
        {{ form.content }}
        <button type="submit">send</button>
    </form>
    <h5>All comments</h5>
    {% for comment in task_info.comments.all %}
    <p>author: {{ comment.creator  }}</p>
    <p>{{ comment.content }}</p>
    <p><a href="#">Edit</a> or <a href="{% url 'CommentDelete' comment.pk %}">Delete</a></p>
    {% endfor %}
</body>
</html