<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task List</title>
</head>
<body>
    <nav>
    <a href="{% url 'TaskList' %}">Main Page</a>
    </nav>
    <h1>Task List</h1>
    <p><a href="{% url 'TaskCreate' %}"> Create new task </a></p>
    <ul>
        {% for task in tasks %}  
        <li>Title:<a href="{% url 'TaskDetail' task.id %}">{{ task.title }}</a> 
            Status:{{ task.status }} 
            Priority:{{ task.priority }}</li>
        {% endfor %}
    <ul>
</body>
</html>